.text {
	margin: 0;
	padding: 0;
	font-family: var(--text-font-family);
	font-size: var(--text-size);
	font-weight: var(--text-weight);
	line-height: var(--text-line-height);
	letter-spacing: var(--text-letter-spacing);
	font-style: var(--text-font-style);
	color: var(--text-color);
	text-align: var(--text-align);
	text-decoration: var(--text-decoration);
	text-transform: var(--text-transform);
	white-space: var(--text-white-space);
	user-select: var(--text-user-select);

	&.display-large {
		--text-size: var(--text-size-inject, 3.5625rem);
		--text-line-height: var(--text-line-height-inject, 4rem);
	}

	&.display-medium {
		--text-size: var(--text-size-inject, 2.8125rem);
		--text-line-height: var(--text-line-height-inject, 3.25rem);
	}

	&.display-small {
		--text-size: var(--text-size-inject, 2.25rem);
		--text-line-height: var(--text-line-height-inject, 2.75rem);
	}

	&.headline-large {
		--text-size: var(--text-size-inject, 2rem);
		--text-line-height: var(--text-line-height-inject, 2.5rem);
	}

	&.headline-medium {
		--text-size: var(--text-size-inject, 1.75rem);
		--text-line-height: var(--text-line-height-inject, 2.25rem);
	}

	&.headline-small {
		--text-size: var(--text-size-inject, 1.5rem);
		--text-line-height: var(--text-line-height-inject, 2rem);
	}

	&.title-large {
		--text-size: var(--text-size-inject, 1.375rem);
		--text-line-height: var(--text-line-height-inject, 1.75rem);
	}

	&.title-medium {
		--text-size: var(--text-size-inject, 1rem);
		--text-weight: var(--text-weight-inject, 500);
		--text-line-height: var(--text-line-height-inject, 1.5rem);
	}

	&.title-small {
		--text-size: var(--text-size-inject, 0.875rem);
		--text-weight: var(--text-weight-inject, 500);
		--text-line-height: var(--text-line-height-inject, 1.25rem);
	}

	&.label-large {
		--text-size: var(--text-size-inject, 0.875rem);
		--text-weight: var(--text-weight-inject, 500);
		--text-line-height: var(--text-line-height-inject, 1.25rem);
	}

	&.label-medium {
		--text-size: var(--text-size-inject, 0.75rem);
		--text-weight: var(--text-weight-inject, 500);
		--text-line-height: var(--text-line-height-inject, 1rem);
	}

	&.label-small {
		--text-size: var(--text-size-inject, 0.6875rem);
		--text-weight: var(--text-weight-inject, 500);
		--text-line-height: var(--text-line-height-inject, 1rem);
	}

	&.body-large {
		--text-size: var(--text-size-inject, 1rem);
		--text-line-height: var(--text-line-height-inject, 1.5rem);
	}

	&.body-medium {
		--text-size: var(--text-size-inject, 0.875rem);
		--text-line-height: var(--text-line-height-inject, 1.25rem);
	}

	&.body-small {
		--text-size: var(--text-size-inject, 0.75rem);
		--text-line-height: var(--text-line-height-inject, 1rem);
	}

	&.small {
		--text-size: 0.875rem;
	}

	&.big {
		--text-size: 1.5rem;
	}
}
