.text {
	&.disabled {
		opacity: var(--text-disabled-opacity);
		cursor: var(--text-disabled-cursor);
		pointer-events: none;
	}

	&.italic {
		--text-font-style: italic;
	}

	&.nowrap {
		--text-white-space: nowrap;
	}

	&.unselectable {
		--text-user-select: none;
	}
}
