.text {
	--text-base-size: 1rem;
	--text-base-weight: 400;
	--text-base-line-height: 1rem;
	--text-base-letter-spacing: 0.05em;
	--text-base-transform: uppercase;

	--text-size: var(--text-size-inject);
	--text-weight: var(--text-weight-inject);
	--text-color: var(--text-color-inject, black);
	--text-line-height: var(--text-line-height-inject);
	--text-align: var(--text-align-inject, left);
	--text-letter-spacing: var(--text-letter-spacing-inject);
	--text-decoration: var(--text-decoration-inject);
	--text-transform: var(--text-transform-inject);
}
