.field.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  &.disabled {
    opacity: var(--md-textfield-disabled-opacity);
    pointer-events: none;
  }

  &.error .textfield__supporting {
    color: var(--md-textfield-error-color);
  }
}

.container {
  position: relative;
  min-height: var(--md-textfield-container-height);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  border-radius: var(--md-textfield-container-radius);
}