/* checked*/
.checkbox:not(.has-custom-icons) .checkbox__input:checked + .checkbox__box {
	background-color: var(--checkbox-color);
	border-color: var(--checkbox-color);
}

/*indeterminate*/
.checkbox:not(.has-custom-icons) .checkbox__input:indeterminate + .checkbox__box {
	background-color: var(--checkbox-color);
	border-color: var(--checkbox-color);
}

/* Hover*/
.checkbox:not(.disabled) .checkbox__box:hover {
  border-color: var(--checkbox-color);
	transform: scale(1.05);
}

/* Active*/
.checkbox:not(.disabled):not(.has-custom-icons) .checkbox__box:active {
	box-shadow: 0 0 0 6px color-mix(in srgb, var(--checkbox-color) 20%, transparent);
	transform: scale(0.95);
}

/* Active whit icon*/
.checkbox:not(.disabled).has-custom-icons:active {
	filter: drop-shadow(0 0 8px color-mix(in srgb, var(--checkbox-color) 30%, transparent));
}

.checkbox:not(.disabled).has-custom-icons .checkbox__box:active {
	transform: scale(0.9);
}
