.checkbox .input {
  background-color: transparent;
}

.checkbox .input:checked {
  background-color: var(--checkbox-color-primary);
  border-color: var(--checkbox-color-primary);
}

.checkbox .input:checked::after {
  border-color: white;
}

.checkbox .input:checked {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.checkbox .input:indeterminate {
  background-color: var(--checkbox-color-primary);
  border-color: var(--checkbox-color-primary);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.checkbox .input:indeterminate::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 2px;
  background-color: white;
  border: none;
  transform: translate(-50%, -50%);
  transition: background-color var(--checkbox-animation-duration-standard) ease;
}

.checkbox .label {
  color: var(--checkbox-color-surface-text);
}