/* theme: Primary  */
.theme-primary .input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.theme-primary .container:hover::before {
  background-color: var(--color-primary-hover);
}

.theme-primary .container:active::before {
  background-color: var(--color-primary-pressed);
}

.theme-primary .input:hover:not(:disabled):not(:checked) {
  border-color: var(--color-primary);
}

/* theme: Secondary  */
.theme-secondary .input:checked {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.theme-secondary .container:hover::before {
  background-color: var(--color-secondary-hover);
}

.theme-secondary .container:active::before {
  background-color: var(--color-secondary-pressed);
}

.theme-secondary .input:hover:not(:disabled):not(:checked) {
  border-color: var(--color-secondary);
}

/* theme: Error  */
.theme-error .input:checked {
  background-color: var(--color-error);
  border-color: var(--color-error);
}

.theme-error .container:hover::before {
  background-color: var(--color-error-hover);
}

.theme-error .container:active::before {
  background-color: var(--color-error-pressed);
}

.theme-error .input:hover:not(:disabled):not(:checked) {
  border-color: var(--color-error);
}