.radio:not(.has-custom-icon) .radio__input:checked + .radio__box {
	&::after {
		outline-color: var(--radio-color);
	}

	&::before {
		content: '';
		position: absolute;
		width: calc(var(--radio-size) * 0.6);
		height: calc(var(--radio-size) * 0.6);
		border-radius: 50%;
		background-color: var(--radio-color);
		z-index: 1;
	}
}

.radio:not(.disabled) {
	&::after {
		content: '';
		grid-area: box;
		justify-self: start;
		align-self: center;
		width: var(--radio-touch-area);
		height: var(--radio-touch-area);
		border-radius: 50%;
		background-color: color-mix(in srgb, var(--radio-color) 15%, transparent);
		transform: scale(0);
		opacity: 0;
		transition:
			transform var(--radio-ripple-transition),
			opacity var(--radio-ripple-transition);
		pointer-events: none;
		z-index: 0;
	}

	&:hover::after {
		transform: scale(1);
		opacity: 1;
	}

	&:active::after {
		background-color: color-mix(in srgb, var(--radio-color) 20%, transparent);
		transform: scale(1);
		opacity: 1;
	}

	.radio__box:active {
		transform: scale(0.95);
	}
}

.radio:not(.disabled):not(.has-custom-icon) .radio__box:hover::after {
	outline-color: var(--radio-color);
}
