.radio {
    --radio-size: var(--radio-size-inject, 20px);
    --radio-color: var(--radio-color-inject, blue);

    --radio-border-width: 2px;
    --radio-inner-size: 60%;
    --radio-touch-area: 40px;

    --radio-color-border: rgb(120, 120, 120);
    --radio-color-disabled: rgba(0, 0, 0, 0.38);
    --radio-color-background: inherit;

    --radio-gap: calc(var(--radio-size) * 0.44);

    --radio-font-family: inherit;
    --radio-font-weight: inherit;
    --radio-line-height: inherit;
    --radio-letter-spacing: inherit;

    --radio-transition: 0.15s ease;
    --radio-ripple-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}