.layout--horizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.layout--vertical {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.layout--centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
