.chip {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	text-decoration: none;

	height: var(--chip-size);
	padding: calc(var(--chip-size) * 0.1875) calc(var(--chip-size) * 0.5);
	gap: calc(var(--chip-size) * 0.25);

	border-radius: var(--chip-border-radius-inject, var(--chip-border-radius));
	border: var(--chip-border-width) solid transparent;

	cursor: pointer;
	user-select: none;

	transition: box-shadow var(--chip-transition-duration) ease;
}
