@import url('../variables.css');

.button--elevated {
  background-color: var(--md-elevated-bg);
  color: var(--md-elevated-text);
  box-shadow: var(--md-elevation-2);
}

.button--elevated:hover {
  background-color: var(--md-elevated-hover);
  box-shadow: var(--md-elevation-3);
}
